
#descriptionBox {
    background-color:orange;
    border:solid;
    border-color:black;
}
#background {
    height:100vh;
    background: url("../images/background.jpg");
}
.rowThree{
    margin: 0 1em 0 1em;
}